body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

#accordion, #add {
    background-color: darkslateblue;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100px;
    border: none;
    text-align: center;
    outline: none;
    transition: 0.4s;
    border-radius: 6px;
    font-size: 0.9rem;
    font-weight: bold;
  }

  #add {
    padding: 6px;
    width: 60px;
  }
  
  #accordion:before {
  content:"New book";
  }
  
  #accordion:hover {
    background-color: darkslateblue;
  }
  
  .active:before {
    content:"Close" !important;
  }
  
  #panel {
    margin-top: 20px;
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
  
  .form-inline {  
    display: flex;
    /* flex-flow: row wrap; */
    align-items: center;
    justify-items: start;
  }
  
  .form-inline > label, .form-inline > button {
    margin-left: 25px;
    margin-right: 4px;
  }




#table {
 
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  #table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #table tr:nth-child(even){background-color: #f2f2f2;}
  
  #table tr:hover {background-color: #ddd;}
  
  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkslateblue;
    color: white;
  }

  